### Primary

$color-primary: hsl(220, 98%, 61%);
$color-check-bg: linear-gradient(right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

### Light Theme

$light-color-lightest: hsl(0, 0%, 98%);
$light-color-light-gray: hsl(236, 33%, 92%);
$light-color-mid-gray: hsl(233, 11%, 84%);
$light-color-dark-gray: hsl(236, 9%, 61%);
$light-color-darkest: hsl(235, 19%, 35%);

### Dark Theme

$dark-color-darkest: hsl(235, 21%, 11%);
$dark-color-desaturated: hsl(235, 24%, 19%);
$dark-color-lightest-hover: hsl(236, 33%, 92%);
$dark-color-light-gray: hsl(234, 39%, 85%);
$dark-color-mid-gray: hsl(234, 11%, 52%);
$dark-color-dark-gray: hsl(233, 14%, 35%);
$dark-color-darkest-gray: hsl(237, 14%, 26%);
