<div class="container">
  <div class="header flex justify-between">
    <div class="year-wrapper flex justify-between align-center">
      <button
        [disabled]="(_calendarService.currentYear$ | async)! <= 2022"
        (click)="onPrevYear()">-</button>
      <span class="chosen-year">{{ _calendarService.currentYear$ | async }}</span>
      <button (click)="onNextYear()">+</button>
    </div>
    <div class="month-wrapper flex">
      <app-dropdown
        [options]="months"
        [preSelectedOption]="(_calendarService.currentMonth$ | async)!"
        label="month"
        (optionSelected)="onMonthSelected($event)"
      ></app-dropdown>
    </div>
  </div>
  <div class="content">
    <div class="week-days flex justify-between">
      <div class="label">Mon</div>
      <div class="label">Tue</div>
      <div class="label">Wed</div>
      <div class="label">Thu</div>
      <div class="label">Fri</div>
      <div class="label">Sat</div>
      <div class="label">Sun</div>
    </div>
    <div
      *ngIf="_calendarService.calendarSubject | async"
      class="tiles-wrapper flex justify-between">
      <span
        [style.flex-basis]="_calendarService.startingGap$ | async" ></span>
      <div
        *ngFor="let tile of _calendarService.calendarSubject | async"
        [ngClass]="{ today: tile.isToday, past: tile.hasPassed }"
        (click)="onSelectDate(tile.date!)"
        class="tile">{{ tile.date }}
      <span
        *ngIf="tile.total"
        class="tile-details"
      >{{ tile.completed + '/' + tile.total }}</span>
      </div>
      <span
        [style.flex-basis]="_calendarService.endingGap$ | async"
        ></span>
    </div>
  </div>
</div>
