.container {
  box-shadow: var(--box-shadow);
  .header {
    background-color: var(--bg-secondary-color);
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;

    .year-wrapper {
      min-width: 30%;
      color: var(--color-text-hover);

      button {
        color: currentColor;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2rem;
      }
    }

    .month-wrapper {
      select {
        font-family: inherit;
      }
    }
  }

  .content {
    background-color: var(--color-accent);
    padding: 1.5rem;
    border-radius: 0 0 10px 10px;
    text-align: center;

    .week-days {
      margin-bottom: 1rem;
      background-color: var(--color-primary);
      border-radius: 5px;
      .label {
        font-size: min(3vw, 1rem);
        color: #fff;
        flex: 0 0 14%;
        padding: .5rem;
      }
    }

    .tiles-wrapper {
      flex-wrap: wrap;
      //gap: 1%;

      .tile {
        opacity: .8;
        flex: 0 0 14%;
        background-color: var(--bg-secondary-color);
        border-radius: 5px;
        padding-block: .5rem;
        margin-block: .25rem;
        cursor: pointer;
        color: var(--color-text-primary);
        position: relative;

        &:hover {
          opacity: 1;
        }

        &.today {
          background-color: var(--bg-color);
          box-shadow: inset 3px 3px var(--color-primary), inset -3px -3px var(--color-primary);
        }

        &.past {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            border-radius: 5px;
            background-image: linear-gradient(45deg,
            var(--color-primary) 25%,
            rgba(0,0,0,0) 25%,
            rgba(0,0,0,0) 50%,
            var(--color-primary) 50%,
            var(--color-primary)75%,
            rgba(0,0,0,0) 75%,
            rgba(0,0,0,0) 100%);
            background-size: 18px 18px;
            opacity: .3;
          }
        }
        .tile-details {
          position: absolute;
          right: 2px;
          bottom: 2px;
          font-size: .7rem;
        }
      }
    }
  }
}
