@import '../../../assets/style/colors';

:host {
  display: block;
  width: 100%;
}

.container {
  box-shadow: -5px 10px 15px rgba(0,0,0,.4),
               5px 10px 15px rgba(0,0,0,.4);
  border-radius: .25rem;
  overflow: hidden;
}

.filter-container {
  justify-content: space-between;
  background-color: $dark-color-desaturated;
  padding: 1rem;
  font-size: .8rem;
  color: $dark-color-dark-gray;

  button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: 700;
    font-size: .7rem;
    cursor: pointer;

    &.active {
      color: $color-primary;
      pointer-events: none;
    }

    &:hover {
      color: $dark-color-lightest-hover;
    }
  }

  div button:not(:last-of-type) {
    margin-right: .5rem;
  }
}

ul {
  min-height: 270px;
  background-color: $dark-color-desaturated;
  position: relative;
}

ul.empty::before {
  content: 'There are no Todos...';
  color: $dark-color-light-gray;
  font-size: 1.1rem;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  padding: 1rem;
  color: $dark-color-light-gray;
  background-color: $dark-color-desaturated;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom-color: $dark-color-darkest-gray;

  &.active {
    .circle {
      border: 2px solid transparent;
      background-image: linear-gradient($dark-color-desaturated, $dark-color-desaturated),
      $color-check-bg;
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-radius: 100%;
    }

    .checked {
      background-image: $color-check-bg;
      background-origin: initial;
      background-clip: initial;
      border: none;
    }
  }
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid $dark-color-dark-gray;
  margin-right: 10px;
  background: transparent;
  background-clip: padding-box;
}

.checked {
  background-image: $color-check-bg;
  border: none;

  &::after {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../../../assets/img/icon-check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}

.delete-btn {
  background-color: transparent;
  border: none;
  background-image: url('../../../assets/img/icon-cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: $dark-color-dark-gray;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .drag-info {
    margin-block: 3rem;
    font-size: .8rem;
    text-align: center;
    color: $dark-color-dark-gray;
    font-weight: 700;
  }
}

.disabled {
  opacity: 0 !important;
  pointer-events: none;
}

.btn {
  opacity: 0.5;
  background-image: $color-check-bg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

