<div class="container">
  <ul>
    <li
      [id]="i"
      #ref
      [draggable]="filteringMode === 'All'"
      (dragstart)="onDragStart($event)"
      (dragover)="onDragOver($event)"
      (dragenter)="onDragEnter(ref)"
      (dragleave)="onDragLeave(ref)"
      (drop)="onDrop($event, ref)"
      [ngClass]="{ active: selectedTodoIdx === i }"
      (mouseenter)="selectedTodoIdx = i;"
      (mouseleave)="selectedTodoIdx = null"
      (click)="onToggleStatus(item)"
      *ngFor="let item of mockup | filterTodos:filteringMode; let i = index"
      class="flex">
      <span
        [ngClass]="{ checked: !item.isActive }"
        class="circle">
      </span>
      <span
        [ngClass]="{ completed: !item.isActive }"
        class="text">{{ item.content }}</span>
      <span class="spacer"></span>
      <button
        class="delete-btn"
        *ngIf="selectedTodoIdx === i"
        (click)="onDelete(item)">
      </button>
    </li>
  </ul>
  <div class="filter-container flex row">
    <span class="items-left">{{ todosLeft }} items left</span>
    <div>
      <button
        (click)="filteringMode = 'All'"
        [ngClass]="{ active: filteringMode === 'All' }">All</button>
      <button
        (click)="filteringMode = 'Active'"
        [ngClass]="{ active: filteringMode === 'Active' }">Active</button>
      <button
        (click)="filteringMode = 'Completed'"
        [ngClass]="{ active: filteringMode === 'Completed' }">Completed</button>
    </div>
    <button (click)="onClearCompleted()">Clear Completed</button>
  </div>
</div>

<p class="drag-info">Drag and drop to reorder list</p>

