<div class="container">
  <ul>
    <li
      (mouseenter)="selectedTodoIdx = i"
      (mouseleave)="selectedTodoIdx = null"
      (click)="onCheck(i)"
      *ngFor="let item of mockup; let i = index"
      class="flex">
        <span
          [ngClass]="{'checked': isChecked(i)}"
          class="circle"
        ></span>
        <span class="text">{{ item.content }}</span>
        <button
          *ngIf="selectedTodoIdx === i"
          (click)="onDelete(i)"
        >X</button>
    </li>
  </ul>
  <div class="filter-container flex row">
    <span class="items-left">5 items left</span>
    <div>
      <button>All</button>
      <button>Active</button>
      <button>Completed</button>
    </div>
    <button>Clear Completed</button>
  </div>
</div>

