:host {
  display: flex;
  justify-content: space-between;
  margin-block: 2vh 4vh;
}

.app-title {
  color: #fff;
  font-size: 2.6em;
  letter-spacing: 12px;
}

.current-date {
  padding: .5rem;
  border-radius: 5px;
  width: fit-content;
  color: var(--color-text-primary);
  background-color: var(--bg-color);
}

.toggle-theme {
  cursor: pointer;
  background-image: var(--toggle-theme-icon);
  background-repeat: no-repeat;
  background-size: 1.8rem 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: transparent;
  border: 0;
}

.toggle-theme:hover {
  animation: var(--toggle-theme-anim) 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    opacity: .7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    border-radius: 100%;
    box-shadow: inset 0 0 0 0 rgba(255,255,255, 0);
  }
  50% {
    box-shadow: inset 0 0 0 50px rgb(255, 255, 255);
  }
  100% {
    border-radius: 100%;
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
