@import '../../../assets/style/colors';

.notification-wrapper {
  position: absolute;
  top: 5%;
  right: 5%;

  background-color: $dark-color-darkest;
  padding: 1rem 1.5rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  border: 2px solid transparent;
  border-image: $color-check-bg;
  border-image-slice: 1;

  h1 {
    color: $dark-color-lightest-hover;
    border-bottom: 1px dashed $dark-color-light-gray;
    padding-bottom: 0.5rem;
    opacity: .9;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 2px;
    background-image: $color-check-bg;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    padding-block: 1rem 0;
    color: $dark-color-light-gray;
  }
}
